Baggage value is not parsed correctly in downstream server

**Environment:**
Python 3.7.9, Ubuntu 20.04
opentelemetry-api 1.4.0
opentelemetry-sdk 1.4.0
flask 1.1.3
requests 2.26.0

Setup: A flask upstream server (to set_baggage) and downstream server (to get_baggage).
Attached [requirements.txt](https://github.com/open-telemetry/opentelemetry-python/files/6907720/requirements.txt) if any additional dependency information is needed



**Steps to reproduce**
Upon setting the baggage in the upstream server and trying to get baggage in downstream server, I am not able to get the original value of the baggage.
Whitespaces are replaced by '+' symbol. e.g. Value in baggage `My Random Value` changes to `My+Random+Value`

In the upstream server I am able to extract the original value of the baggage.
Sample code for upstream
```
# UPSTREAM SERVER
from opentelemetry.context import get_current
from opentelemetry.baggage import set_baggage, get_all
from opentelemetry.propagate import inject, extract
from opentelemetry.baggage import get_baggage
@app.route('/upstream')
def hello_world():
    current_context = get_current()
    current_context = set_baggage('My key', 'My Random Value', current_context)
    headers = {}
    inject(headers, context=current_context)
    print(get_baggage('My key', current_context))
    # output of print is: 'My Random Value'
    r = requests.get('http://localhost:9023/downstream', headers=headers)
    return r.content
```
But in downstream server when I extract the baggage using get_baggage I am not able to get the original value.
```
# DOWNSTREAM SERVER
from flask import request
from opentelemetry.propagate import inject, extract
from opentelemetry.baggage import get_baggage
import opentelemetry.instrumentation.wsgi as otel_wsgi
@app.route('/downstream')
def hello_world():
    extracted_context = extract(request.environ, getter=otel_wsgi.wsgi_getter)
    print(get_baggage('My key', extracted_context))
    # output of print is: 'My+Random+Value'
    return 'Called downstream server!'
```

**Expected behaviour**
Downstream server should be able to get original value of baggage.


Issue is that we use quote_plus to encode but quote to decode.

https://github.com/open-telemetry/opentelemetry-python/blob/71e3a7a192c0fc8a7503fac967ada36a74b79e58/opentelemetry-api/src/opentelemetry/baggage/propagation/__init__.py#L100
https://github.com/open-telemetry/opentelemetry-python/blob/71e3a7a192c0fc8a7503fac967ada36a74b79e58/opentelemetry-api/src/opentelemetry/baggage/propagation/__init__.py#L68

We need to figure out which encoding the spec recommends and other otel projects use before fixing this.


https://w3c.github.io/baggage/#definition

```
baggage-string         =  list-member 0*179( OWS "," OWS list-member )
list-member            =  key OWS "=" OWS value *( OWS ";" OWS property )
property               =  key OWS "=" OWS value
property               =/ key OWS
key                    =  token ; as defined in RFC 2616, Section 2.2
value                  =  *baggage-octet
baggage-octet          =  %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                          ; US-ASCII characters excluding CTLs,
                          ; whitespace, DQUOTE, comma, semicolon,
                          ; and backslash
OWS                    =  *( SP / HTAB ) ; optional white space, as defined in RFC 7230, Section 3.2.3
```

By this definition baggage values with space shouldn't be allowed in the first place, isn't it?

Go has the validation for baggage items

https://github.com/open-telemetry/opentelemetry-go/blob/4bf6150fa94e18bdf01c96ed78ee6d1c76f8e308/baggage/baggage.go#L36-L55